:root {
 --black: #000000;
 --gray: #808080;
 --white: #ffffff;
 --primary: #fbff85;
 --secondary: #fd6495;
 background: linear-gradient(90deg, #f68e59 0%, #f60 50%, #c20 100%);
 color-scheme: light;
 color: var(--black);

 font-family: Public Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
 line-height: 1.5;
 font-weight: 400;

 font-synthesis: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: inherit;
}

html,
body {
 min-height: 100vh;
}

a {
 color: var(--primary);
 text-decoration: none;
 &:hover {
  text-decoration: underline;
 }
}

#spin-text:hover {
 transform: scale(1.05);
 text-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

#wheel:active {
 cursor: grabbing;
}

#wheel.spinning {
 cursor: default !important;
}

button:hover {
 transform: scale(1.1);
}

button:active {
 transform: scale(0.95);
}

@keyframes spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

@keyframes slowSpin {
 from {
  transform: rotate(var(--start-rotation, 0deg));
 }
 to {
  transform: rotate(var(--end-rotation, 360deg));
 }
}

.wheel-spinning {
 animation: spin 0.1s linear infinite;
}

.wheel-slowing {
 animation: slowSpin var(--slow-duration, 2s)
  cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
